*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    border: none;
    outline: none;
    list-style: none;
    
    user-select: none;
    transition: all .3s ease-out;
}
:root {
  /* ===== 🎨 COLOR PALETTE ===== */
  --bg-color: #0d1117;
  --bg-secondary: #161b22;
  --card-bg: rgba(255, 255, 255, 0.06);
  --card-hover: rgba(255, 255, 255, 0.1);

  --text-color: #e6edf3;
  --text-black: #0d1117;
  --text-muted: #8b949e;
  --text-heading: #ffffff;

  --accent-color: #0ba2ff;
  --accent-hover: #0088d8;
  --danger-color: #ff3b3b;
  --success-color: #00c36a;
  --accent-glass: rgba(11, 162, 255, 0.52);
  --accent-gradient: var(--accent-glass);

  --border-color: rgba(255, 255, 255, 0.15);
  --shadow-color: rgba(0, 0, 0, 0.5);

  /* ===== 🌫 BACKDROP & GLASS ===== */
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-blur: 8px;

  /* ===== 🧱 TRANSITIONS ===== */
  --transition-fast: 0.2s ease;
  --transition-medium: 0.4s ease;
  --transition-slow: 0.6s ease;

  /* ===== 🔤 TYPOGRAPHY ===== */
  --font-main: 'Poppins', sans-serif;
  --font-size-base: 15px;
  --font-size-heading: 18px;
  --font-weight-bold: 600;

  /* ===== 🧩 RADIUS ===== */
  --radius-small: 6px;
  --radius-medium: 10px;
  --radius-large: 16px;
}
/* ✅ All browsers compatible scrollbar hide */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  height: 100dvh;
  
}

.mt-2{
    margin-top: 2rem;
}



.form textarea{
    border-radius: 10px !important;
}
a{
    text-decoration: none;
    color: var(--text-black);
}
input, button, select{
    border-radius: 10px;
    padding: .5rem 1rem;
}
button:disabled {
    background: #C7C7C7;
    color: #ababab;
}
input[type="text"], input[type="number"]{
    border-radius: 50px;
    padding: .7rem 1rem;
    width: 100%;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
}

input[type="radio"]{
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #9999;
    transition: .2s linear;
    position: relative;
}
input:checked{
    border: 6px solid var(--accent-color);
}
header{
padding: 2rem;
background:  var(--card-bg) !important;
text-align: center;
border: 1px solid var(--border-color);
border-top: none;


border-radius: 0 0 30px 30px;


#shopname{
    text-transform: uppercase;
}
}
header i{
    font-size: 25px;
}

header .search-bar{
    margin-top: 2rem;
    position: absolute;
    bottom: -1rem;
    z-index: 8;
    right: 50%;
    transform: translateX(50%);
    width: 80%;
}
input, textarea, select.status{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    background: rgba(162, 162, 162, 0.27);
    backdrop-filter: blur(var(--glass-blur));
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
::placeholder{
    color: var(--text-muted);
}

nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
    overflow-x: auto;
}

nav a{
    padding: .7rem 1.2rem;
    background: var(--card-bg);
    border-radius: 100px;
    color: var(--text-muted);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-wrap: nowrap;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--border-color);
}

nav a.active{
    background: var(--accent-glass);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}


nav.status-nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background: transparent;
    margin-top: 1rem;
    backdrop-filter: blur(var(--glass-blur));
    
}


.list-section{
    padding: 2rem;
}

.list-section .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.list .list-item{
    border-radius: 10px;
    border-radius: var(--radius-large);
    padding: 1.6rem;
    padding-top: 2rem;
    
    line-height: 1.4rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
    position: relative;
    animation: slide-up .5s ease-in-out;
    overflow: hidden;
    /* font-size: calc(10px + 1vw); */
    max-width: 100%;
    
    transform: translateZ(0px);
}
.list-item .complaints{
    color: var(--accent-color);
    font-weight: 600;
}

@keyframes slideDown {
  from{
      transform: translateY(50px);
      opacity: 0;
      scale: 0.8;
  }
}

li nav{
    padding: .5rem 1rem;
    background: rgba(11, 162, 255, 0.52);
    color: var(--text-color);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
li nav .flex_center{ 
    display: flex;
    align-items: center;
}
li nav .flex_center input{
    border-color: #fff ;
}
li nav h3.sn{
    color: var(--danger-color);
}
li nav span{
    display: flex;
    gap: 1rem;
}
li nav span i{
    
    font-size: 15px;
    margin-top: 2px;
}

@keyframes slide-up{
    from{
        transform: translateY(5px);
        opacity: 0;
    }
}


.note-input-wrap{
    display: flex;
    flex-flow: column;
}
.note-input-wrap button{
    align-self: end;
}
.list-item .add-note-input{
    padding: .5rem;
    color: var(--text-color);
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    box-shadow: none;
    resize: none;
    line-height: 1.4;
    min-height: 40px;
    max-width: 90%;
}

.list-item button.add-note-btn{
    margin-top: 1rem;
    font-weight: 600;
    background: var(--glass-bg);
    color: #999;
}
.list-item button.add-note-btn.active{
    background: var(--accent-gradient);
    color: #fff;
}

.list-item .box{
    margin-top: 1rem;
}
.list-item .box .item_flex{
    display: flex;
}
.list-item .box .item_flex p.value{
    flex: 2;
}
.list-item .box .item_flex p.key{
    flex: 1;
}
.list-item .right i{
    color: #999;
}
.list .list-item p.value::before{
    content: ":    ";
    font-weight: bold;
}

.list-item .status{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #DEDEDE;
    background: transparent;
    color: var(--text-color);
    border-radius: 00px;
    padding: .5rem;
    border-top: 1px solid #999;
    flex-wrap: wrap;
}

.list-item .status span{
    display: flex;
    align-items: center;
    gap: .5rem;
}


button.add {
    border-radius: 50px;
    font-size: 1em;
    font-weight: 500;
    padding: 1rem 1.2rem;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    background: var(--accent-gradient);
    background: rgba(11, 162, 255, 0.52);
    backdrop-filter: blur(var(--glass-blur));
    cursor: pointer;
    transition: width 0.4s, height 0.3s, padding 0.3s, font-size 0.3s, transform 0.3s, color 0.3s;
    overflow: hidden;
    white-space: nowrap;
    z-index: 8;
    
}
button.add a{
    color: var(--text-color);
}


button.smallAddBtn {
    color: var(--text-color);
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 1.2em;
}


button.add:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}



.slide-up{
    position: fixed;
    width: 100%;
    transform: translateY(-200px);
}

.form, .inventory-create-page{
    padding: 2rem;
}
.form input, .form textarea , .inventory-create-page input{
    margin-top: 2rem;
    border: 1px solid var(--border-color);
    width: 100%;
    border-radius: 100px;
    font-size: 18px;
}

.form select, .inventory-create-page select{
    padding: 1rem;
    border-radius: 100px;
    margin-top: 2rem;
    font-size: 18px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
    color: var(--text-muted);
}

.add-data, .create_prod_data{
    padding: 1rem 1.3rem;
    margin-top: 2rem;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: rgba(11, 162, 255, 0.52);
}

.search-out{
    width: 100%;
    background: transparent;
    backdrop-filter: blur(--glass-blur);
    height: auto;
    padding: 2rem;
    width: 90vw;
    border-radius: 10px;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 10rem;
    z-index: 99;
    right: 50%;
transform: translateX(50%);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}
.search-out li{
    margin-bottom: 1rem;
    background: #fff;
    color: #000;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}


.empty{
    color: #999999;
    text-align: center;
}



.call-btn{
    background: #00A267;
    color: #fff;
    font-weight: 600;
}



.shop-selector-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: auto;
}

.shop-selector-wrap span{
    background: var(--glass-bg);
    backdrop-filter: blur(--glass-blur);
    color: var(--text-color);
    padding: .5rem 1rem;
    border-radius: 100px;
}
.shop-selector-wrap span a{
    color: var(--text-color);
}

.shop-selector-wrap .active{
    background: var(--bg-secondary);
}
.shop-selector-wrap .active a{
    color: var(--text-color);
}

.not-found , .shop-work{
    text-align: center;
    padding-top: 2rem;
}
.not-found{
    height: 100%;
}
.not-found .flex{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.badge{
    background: var(--accent-glass);
  color: var(--text-color);
  border-radius: 100px;
  padding: 2px 6px;
  font-size: 0.7rem;
  margin-left: 4px;
}
.badge {
  pointer-events: none;
  user-select: none;
}

/* Responsive*/




@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for devices with a width between 769px and 1024px (e.g., landscape tablets) */
  
 .form .input-group, .inventory-create-page .input-group{
      width: 50%;
  }
  
}



.notice {
position: fixed;
top: 3rem;
background: var(--glass-bg);
border-radius: 10px;
right: 50%;
transform: translateX(50%) translateY(-100px);
padding: .5rem 1rem;
display: flex;
align-items: center;
text-align: center;
gap: 1rem;
color: var(--text-black);
max-width: 80vw;
white-space: nowrap;
overflow: hidden;
animation: notification 5s cubic-bezier(0.9, 0, 1, 0.5) forwards;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
border-left: 5px solid #f39c12;
max-height: fit-content;

touch-action: pan-y;
z-index: 10;
}

.notice.dismiss{
    opacity: 0;
    transform: translateX(- 150);
    pointer-events: none;
}
.notice::before {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    border-radius: 1000px;
    box-shadow: 5px 0 1px rgba(0, 0, 0, .25);
    left: 0;
    animation: progressBar 5s;
}

@keyframes progressBar{
    to
{
    width: 0%;
}
}

@keyframes notification {
0% {
border-radius: 100px;
transform: translateX(50%) translateY(-100px) scale(0.95);
max-width: 0;
opacity: 0;
color: var(--text-color);
white-space: nowrap;
max-height: 2rem;
}

15% {
transform: translateX(50%) translateY(0) scale(1);
max-width: 0;
opacity: 1;
color: var(--text-color);
border-radius: 10px;
white-space: nowrap;
max-height: 2rem;
}

25% {
width: max-content;
max-width: 80vw;
max-height: 4rem;
opacity: 1;
color: var(--text-black);
border-radius: 10px;
white-space: wrap;
}

70% {
/* stay fully visible longer */
transform: translateX(50%) translateY(0) scale(1);
width: max-content;
max-width: 80vw;
opacity: 1;
color: var(--text-black);
border-radius: 10px;
max-height: fit-content;
white-space: wrap;
}

85% {
opacity: 0.5;
color: var(--text-muted);
border-radius: 100px;
transform: translateX(50%) translateY(0) scale(1);

}

100% {
transform: translateX(50%) translateY(-100px) scale(0.95);

opacity: 0;
color: var(--text-muted);
border-radius: 100px;
white-space: nowrap;
}
}




/* error: this not working */
.notice .title{
    font-weight: bold;
}

.notice.warn   { 
    border-left: 5px solid #f39c12; 
    background: rgba(255, 231, 192, 0.61);
    backdrop-filter: blur(var(--glass-blur));
    color: var(--text-black);
    } /* already sexy */
.notice.success { 
    border-left: 5px solid #27ae60; 
    background: rgba(223, 255, 224, 0.61);
    backdrop-filter: blur(var(--glass-blur)); } /* light green */
.notice.info    { 
    border-left: 5px solid #3498db; 
    background: rgba(208, 231, 255, 0.61);
    backdrop-filter: blur(var(--glass-blur));
} /* light blue */
.notice.error   { 
    border-left: 5px solid #e74c3c; 
    background: rgba(255, 214, 214, 0.61); 
    backdrop-filter: blur(var(--glass-blur));
} /* light red/pink */

.notice.warn::before {background: #f39c12;}
.notice.success::before {background: #27ae60;}
.notice.info::before {background: #3498db;}
.notice.error::before {background: #e74c3c;}

.myshop{
    animation: scale 0.5s;
}
@keyframes scale{
    from
    {
        scale: 0;
    }
}
.sn-flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.sn-flex .sub_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.sn-flex a{
    color: var(--text-black);
    font-size: 19px;
}
#new_sn{
    color: #e74c3c;
    font-size: 1.4rem;
}

#timerElement{
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 10px;
    color: var(--text-black);
}


input[type="checkbox"]{
    appearance: none;
    vertical-align: middle; 
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0;
    
    border: 2px solid var(--text-black);
border-radius: 4px;
cursor: pointer;
box-shadow: none;
background: transparent;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-glass);
  border-color: var(--text-color);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  color: var(--text-color);
  font-size: 13px;
  left: 2px;
  top: -2px;
}
.checkBox-container{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-style: italic;
}


.status, .s_status, .amount, .advance{
    font-weight: bold;
    color: var(--danger-color);
}

.advance{
    color: var(--success-color);
}


.loader, .customInput, .inventory_option_container, .delete_page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--glass-bg);
    color: var(--text-color);
    backdrop-filter: blur(--glass-blur);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
    z-index: 9;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation: bluring 0.7s;
}

@keyframes bluring{
    from{
        opacity: 0.8;
        backdrop-filter: blur(0px);
    }
}
.customInput{
    z-index: 9;
}
.loader .loading-card, .customInput .card{
    padding: 1rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.customInput input{
    margin-top: 2rem;
    background: rgba(76, 76, 76, 0.46);
    color: var(--text-color);
    font-weight: 500;
    box-shadow: none;
    border: 1px solid rgba(202, 202, 202, 0.39);
}
.customInput .btn-wrap{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.customInput button{
    font-weight: bold;
}
.customInput .save{
    background : var(--accent-gradient);
    color: var(--text-color);
}
.blue{
    color: #09a0ff;
    font-weight: 600;
}

.tips{
    padding: 2rem;
    font-style: italic;
    color: #999;
    letter-spacing: 1.2px;
}

pre {
    background: var(--bg-secondary);
    padding: 1rem;
    white-space: pre-wrap;
    border-radius: 6px;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
    margin: 2rem;
    max-height: 80vh;
    overflow-x: auto;
  }
  
  
  #category_search_out{
      padding: 1rem;
      background: var(--bg-secondary);
  }
  
  .flex_input_wrap{
      display: flex;
      gap: 1rem;
  }
  
  .flex_input_wrap input{
      border-radius: 7px;
  }
  .new_key{
      margin: auto;
      display: block;
      margin-right: 0;
      margin-top: 2rem;
  }
  
  
  main.form{
      transition: all .5s;
      animation: open .5s ease-out forwards;
  }
  
  main.form input{
      animation: slideUp 1s;
  }
  
  main{
      animation: zom 0.4s;
  }
  
  main .page-title, #new_sn{
      animation: slideFromLeft 1s;
  }
  .sn{
      animation: slideFromLeft 0.5s;
  }
  @keyframes zom {
      from{
          opacity: 0;
          scale: 1.1;
      }
  }
  
  @keyframes slideFromLeft{
      0%, 40%{
          opacity: 0;
          transform: translateY(17px);
      }
      
  }
  
  @keyframes open {
  0% {
    border-radius: 50%;
    transform: scale(0.4);
    opacity: 0;
  }
  
  
  
  90%, 100% {
    transform: scale(1);
    border-radius: 0;
  }
}

@keyframes slideUp{
    from{
        transform: translateY(20px);
        scale: 0.9;
    }
}
.author_name{
    
    font-style: italic;
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}
#author_name_p{
    margin-top: 1rem;
    text-align: center;
}


.bulk-action {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 9;
  font-weight: 500;
}
.bulk-action.hide { transform: translateY(100%); }

.bulk-action button{
    background: var(--accent-gradient);
    color: var(--text-color);
    font-weight: 600;
}
select {
  background: var(--glass-bg);
  backdrop-filter: blur(--glass-blur);
  color: var(--text-color);
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
  appearance: none; /* remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background-image: linear-gradient(45deg, transparent 50%, #0ba2ff 50%), 
                    linear-gradient(135deg, #0ba2ff 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), 
                       calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat; */
}

select:hover {
  border-color: #000000;
}

select:focus {
  box-shadow: 0 0 0 2px rgba(11, 162, 255, 0.2);
  border-color: var(--text-muted);
}

select option {
  background: var(--glass-bg);
  color: var(--text-color);
  backdrop-filter: blur(var(--glass-blur));
}


.intro-anim {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.intro-anim.animate {
  transform: scale(1);
  opacity: 1;
}


.list-item {
  transition: transform 0.25s ease, width 0.25s ease;
  transform-origin: center center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  
  
}
  
  
#name_suggest_container, #model_suggest_container, #number_suggest_container,
#complaint_suggest_container{
  position: absolute;
  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  border: 1px solid var(--border-color);
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
  right: 2rem;
  left: 2rem;
  margin-top: 0.5rem;
  
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

.suggest-item {
  padding: 0.5rem;
  cursor: pointer;
}

.suggest-item:hover {
  background: #f0f0f0;
}




/*######### INVENTORY STYLE ############*/

main.inventory-page{
    
}

.header, header{
  background: var(--accent-gradient);
  color: #fff;
  padding: 2rem;
  height: 140px;
  position: relative;
}
.header .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .top i{
    font-size: 25px;
}


.header .card{
    background: #fff;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    border-radius: 10px;
    position: absolute;
    right: 50%;
    transform: translateX(50%) translateY(40px);
    width: fit-content;
    min-width: 330px;
    max-width: 90vw;
    text-align: center;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.header .card h4{
    font-weight: 800;
    font-size: 18px;
}
.header .card p{
    color: #BCBCBC;
    font-size: 13px;
    margin-top: 0.5rem;
    font-weight: bold;
    
}

/*----------------------*/

.table_switcher_container{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    color: #BCBCBC;
    padding: auto 1rem;
    
    margin-top: 4rem;
}
.table_switcher_container span{
    padding: 1rem 0.5rem;
    text-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
    margin: auto 0.5rem;
    font-weight: 500;
    font-size: 15px;
}
.table_switcher_container span.active{
    color: #BA00E2;
    border-bottom: 2px solid #BA00E2;
}

/*---------------------------------------*/

.card_container{
    padding: 1.5rem;
}
.card_container .card{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
    margin-bottom: 1.3rem;
    position: relative;
}
.card_container .card:active, .list-item:active {
  transform: scale(0.98);
  transition: 0.1s;
}

.card_container .card .img_container{
    width: 60px;
    color: #8E8E8E;
    font-size: 30px;
}
.card_container .card .middle_container{
    width: 100%;
}
.category_qty_container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 500;
}
.category_qty_container h3{
    color: #000;
}
.category_qty_container p.qty{
    color: #09a0ff;
}


.inventory_option_container, main.delete_page{
    display: none;
    background: transparent;
    backdrop-filter: blur(0);
    align-items: center;
    justify-content: center;
}
.inventory_option_container.show{
    display: flex;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.14);
}

.inventory_option_container .card{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.55);
    color: #000;
    text-shadow: none;
    width: 140px;
    padding: 1rem;
}
.inventory_option_container .card ul{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.inventory_option_container .card li{
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 6px #00000036;
}

/*######## INVENTORY STYLE END #########*/


/*Delete page*/
main.delete_page{
    display: flex;
    backdrop-filter: blur(4px);
}
main.delete_page .card{
    color: var(--text-color);
    padding: 2rem;
    background: var(--glass-bg);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    text-shadow: none;
}
.delete_page .card .title{
    margin-bottom: 1rem;
    font-weight: 600;
}
.delete_page .card .btn_wrap{
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
    display: flex;
    gap: 2rem;
}
.delete_page .delete {
    background: var(--danger-color);
    color: var(--text-color);
    font-weight: bold;
}

/* Delete Page End*/


/*########## SETTINGS PAGE #########*/



.settings_page, .profile_page, .theme_page, .sound_page{
    background-image: url(./assets/images/bg.jpg);
    height: 100dvh;
    backdrop-filter: blur(var(--glass-blur));
    padding-bottom: 1rem;
    overflow-y: auto;
}
.settings_page img{
    max-width: 100%;
}
.settings_page .header, .profile_page .header, .theme_page .header{
    background: var(--bg-secondary);
    backdrop-filter: blur(var(--glass-blur));
    height: auto;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 9;
}

.settings_page .header .flex,
.profile_page .header .flex,
.theme_page .header .flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

/* Profile container*/

.settings_page .profile_container .box, 
.profile_page .profile_container .box{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    
    padding-top: 1rem;
    backdrop-filter: blur(var(--glass-blur));
}
.settings_page .profile_container .box img,
.profile_page .profile_container .box img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    object-fit: scale-down;
    background: var(--glass-bg);
    padding: 0 0.2rem;
}
.settings_page .profile_container .name,
.profile_page .profile_container .name{
    font-weight: 500;
}
.settings_page .profile_container .mail,
.profile_page .profile_container .mail{
    color: var(--text-muted);
    font-size: 15px;
}

/* 3 Cards */

.settings_page .profile_container .card_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    
    backdrop-filter: blur(var(--glass-blur));
}

.settings_page .profile_container .card_flex .card{
    background: var(--card-bg);
    padding: 1rem;
    text-align: center;
    font-size: 10px;
    
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    
    font-weight: 500;
    color: var(--text-muted);
}
.settings_page .profile_container .card_flex .card .count{
    font-weight: 500;
    font-size: 18px;
    color: var(--accent-color);
}


/* List section*/

.settings_page h4.title, .profile_page h4.title{
    margin-left: 1rem;
}
.settings_page ul.settings_list,
.profile_page ul.staff_list,
.theme_page ul{
    background: var(--card-bg);
    backdrop-filter: blur(var(--glass-blur));
    border-radius: var(--radius-large);
    padding: 0;
    margin: 1rem;
    overflow: hidden;
}
.settings_page ul.settings_list li,
.profile_page ul.staff_list li,
.theme_page ul li{
    padding: 1rem;
    border: none;
    box-shadow: none;
    background: transparent;
    backdrop-filter: unset;
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-muted);
    
}


/*########## SETTINGS PAGE END #########*/

/* ########### PROFILE PAGE #############*/

.container {
    padding: 1rem;
}
.profile_page .lang_theme_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-muted);
}
.profile_page .lang_theme_flex span{
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    align-items: center;
}


.profile_page .profile_list{
    margin-top: 2rem;
}
.profile_page .profile_list li{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: var(--text-muted);
}
.profile_page .profile_list li span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile_page .profile_list button.save_user_pro_btn{
    background: var(--accent-glass);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    padding: 0.6rem;
    width: 100px;
}
.profile_page .profile_list li:active{
    transform: scale(1);
}

/*########## PROFILE PAGE END ########## */


/*########## THEME PAGE ########## */

.theme_page input[type="color"], .theme_page input[type="range"]{
    height: 40px;
    width: 100px;
    box-shadow: none;
    background: transparent;
}

.theme_page input[type=range] {
    -webkit-appearance: none;
    width: 200px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0065A3;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0ba2ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0ba2ff;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0ba2ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0ba2ff;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #0ba2ff;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0ba2ff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}

/*########## THEME PAGE END ########## */



/* ########## LIST AND LIST ITEM ##########*/


.list{
    background: var(--card-bg);
    backdrop-filter: blur(var(--glass-blur));
    border-radius: var(--radius-large);
    padding: 0;
    margin: 1rem;
    overflow: hidden;
}
.list .list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1rem;
    border: none;
    box-shadow: none;
    background: transparent;
    backdrop-filter: unset;
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-muted);
    animation: none;
}

/* ######### PAGE HEADER ######### */

.page_header{
    background: var(--bg-secondary);
    backdrop-filter: blur(var(--glass-blur));
    height: auto;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 9;
}
.page_header .flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

/*///////// PAGE TITLE \\\\\\\\\\*/

.page_title{
    margin-left: 1rem;
}


.home .list-section{
    padding: 1rem;
}
.home .list-section .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    perspective: 600px;
    transform-style: preserve-3d;
    background: transparent;
    
}

.home .list .list-item{
    display: block;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-large);
    padding: 1.6rem;
    padding-top: 2rem;
    
    line-height: 1.4rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
    position: relative;
    animation: slide-up .5s ease-in-out;
    overflow: hidden;
    /* font-size: calc(10px + 1vw); */
    max-width: 100%;
    animation: slideDown 0.5s ease;
    transform: translateZ(0px);
}


/*____________________________________________________________________*/

/* TOGGLE_BTN */
.toggle_btn {
    height: 20px;
    width: 40px;
    border-radius: 100px;
    background: var(--text-muted);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background 0.3s ease;
    cursor: pointer;
}

.toggle_btn .toggle_ball {
    height: 15px;
    width: 15px;
    background: var(--text-color);
    border-radius: 100px;
    margin: auto 2.5px;
    transition: transform 0.3s ease;
}

/* Active state */
.toggle_btn.active {
    background: var(--accent-glass);
    
}

.toggle_btn.active .toggle_ball {
    transform: translateX(calc(20px));
}


li.list-item {
  transition: transform 0.5s, opacity 1s;
  transform: translateX(0px);
}






.list-item.hidden {
  display: none;
}

.hidden{
    display: none;
}

.delete_page.hidden{
    display: none;
}


body , main{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  transition: background var(--transition-medium), color var(--transition-medium);
}

.card, .list-item {
  background: var(--card-bg) ;
  border-radius: var(--radius-medium);
  box-shadow: 0 0 10px var(--shadow-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(var(--glass-blur));
  transition: background var(--transition-fast), transform var(--transition-fast);
}

.card:hover {
  background: var(--card-hover);
  transform: translateY(-2px);
}

button.delete {
  background: var(--danger-color);
  color: #fff;
  border-radius: var(--radius-small);
  transition: background var(--transition-fast);
}

button.delete:hover {
  background: #ff5050;
}

.undo-status-btn{
    padding: 0.5rem 1rem;
    border-radius: var(--radius-large);
    border: 1px solid var(--border-color);
    
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 999;
}