*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    border: none;
    outline: none;
    list-style: none;
    
    transition: all .3s ease-out;
}
a{
    text-decoration: none;
    color: #fff;
}
input, button{
    border-radius: 10px;
    padding: .5rem 1rem;
}
input[type="text"]{
    border-radius: 50px;
    padding: .7rem 1rem;
    width: 100%;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
}

input[type="radio"]{
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #9999;
    transition: .2s linear;
    position: relative;
}
input:checked{
    border: 6px solid black;
}
header{
    padding: 2rem;
    background: #22c3bb;
background: linear-gradient(0deg, rgba(34, 195, 187, 1) 0%, #008FFF 100%);
text-align: center;
background: #868686;

border-radius: 0 0 30px 30px;
color: #fff;

}

header .search-bar{
    margin-top: 2rem;
}

nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
    
    overflow-x: auto;
}

nav a{
    padding: .7rem 1.2rem;
    background: #EDEDED;
    border-radius: 100px;
    color: #232323;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-wrap: nowrap;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav a.active{
    background: linear-gradient(90deg, rgba(34, 195, 187, 1) 0%, #008FFF 100%);
    background: #000;
    color: #fff;
}


.list-section{
    padding: 2rem;
}

.list-section .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.list .list-item{
    border-radius: 10px;
    padding: 1.6rem;
    
    line-height: 1.4rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    
    animation: slide-up .5s ease-in-out;
}

@keyframes slide-up{
    from{
        transform: translateY(5px);
        opacity: 0;
    }
}


.list-item .flex{
    display: flex;
gap: 1rem;
}
.list .list-item .right p::before{
    content: ":    ";
    font-weight: bold;
}

.list-item .status{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #DEDEDE;
    background: transparent;
    color: #000;
    border-radius: 00px;
    padding: .5rem;
    border-top: 1px solid #999;
    flex-wrap: wrap;
}

.list-item .status span{
    display: flex;
    align-items: center;
    gap: .5rem;
}


button.add{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 44px;
    font-weight: 400;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background: #000;
    color: #fff;
}

.slide-up{
    position: fixed;
    width: 100%;
    transform: translateY(-200px);
}

.form{
    padding: 2rem;
}
.form input{
    margin-top: 2rem;
    border: 1px solid #999999;
    width: 100%;
    border-radius: 100px;
    font-size: 18px;
}

.form select{
    padding: 1rem 1.3rem;
    background: #fff;
    color: #000;
    border-radius: 100px;
    margin-top: 2rem;
    font-size: 18px;
    width: 100%;
    border: 1px solid #999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
}

.add-data{
    padding: 1rem 1.3rem;
    background: #000;
    margin-top: 2rem;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.search-out{
    width: 100%;
    background: #E9E9E9;
    height: auto;
    padding: 2rem;
    
    

}
.search-out li{
    margin-bottom: 1rem;
    background: #999;
    color: #fff;
    padding: .5rem;
    border-radius: 100px;
}

.hidden{
    display: none;
}
.empty{
    color: #999999;
    text-align: center;
}



.call-btn{
    background: #00A267;
    color: #fff;
    font-weight: 600;
}



.shop-selector-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.shop-selector-wrap span{
    background: #656565;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 100px;
}

.shop-selector-wrap .active{
    background: black;
}

.not-found , .shop-work{
    text-align: center;
    padding-top: 2rem;
}


.badge{
    background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  margin-left: 4px;
}
.badge {
  pointer-events: none;
  user-select: none;
}

/* Responsive*/




@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for devices with a width between 769px and 1024px (e.g., landscape tablets) */
  
  .form .input-group{
      width: 50%;
  }
  
}



notice {
position: fixed;
top: 3rem;
background: #fff;
border-radius: 10px;
right: 50%;
transform: translateX(50%) translateY(-100px);
padding: .5rem 1rem;
display: flex;
align-items: center;
text-align: center;
gap: 1rem;
color: #666666;
max-width: 0;
white-space: nowrap;
overflow: hidden;
animation: notification 3s cubic-bezier(0.4, 0, 1, 0.5) forwards;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
border-left: 5px solid #f39c12;
max-height: 3.5rem;

}



@keyframes notification {
0% {
border-radius: 100px;
transform: translateX(50%) translateY(-100px) scale(0.95);
max-width: 0;
opacity: 0;
color: #fff;
white-space: nowrap;
}

15% {
transform: translateX(50%) translateY(0) scale(1);
max-width: 0;
opacity: 1;
color: #fff;
border-radius: 10px;
white-space: nowrap;
}

25% {
width: max-content;
max-width: 80vw;
opacity: 1;
color: #666666;
border-radius: 10px;
white-space: wrap;
}

70% {
/* stay fully visible longer */
transform: translateX(50%) translateY(0) scale(1);
width: max-content;
max-width: 80vw;
opacity: 1;
color: #666666;
border-radius: 10px;
white-space: wrap;
}

85% {
max-width: 0;
opacity: 0.5;
color: rgba(0,0,0,0);
border-radius: 100px;
transform: translateX(50%) translateY(0) scale(1);
white-space: nowrap;
}

100% {
transform: translateX(50%) translateY(-100px) scale(0.95);
max-width: 0;
opacity: 0;
color: rgba(0,0,0,0);
border-radius: 100px;
white-space: nowrap;
}
}




/* error: this not working */
notice.title{
    font-weight: bold;
}

.notice.warn { border-left: 5px solid #f39c12; }
.notice.success { border-left: 5px solid #27ae60; }
.notice.info { border-left: 5px solid #3498db; }
.notice.error { border-left: 5px solid #e74c3c; }


.sn-flex{
    display: flex;
    gap: 2rem;
}
#new_sn{
    color: #e74c3c;
    font-size: 1.4rem;
}