body {
  background: #E8EAFF;
  padding: 20px;
  margin: 0;
  font-family: system-ui, sans-serif;
}

.dash-container {
  max-width: 900px;
  margin: auto;
}

input[type="date"]{
  border-radius: 7px;
  background: #fff;
  font-weight: 500;
  border: 1px solid ;
}

.mt-1{
  margin-top: 1rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.picker {
  display: flex;
  gap: 10px;
}

button {
  background: #0BA2FF;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 5px 20px #0001;
}

#chartBox {
  margin-top: 20px;
  overflow-x: auto;
  cursor: grab;
  
}

svg {
  border-radius: 8px;
  user-select: none;
  background: white;
}



.resetZoom {
  margin-top: 10px;

}

.info li{
  display: flex;
  align-items: center;
  gap: 1rem;
  
  font-weight: 500;
}
.info span{
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 100px;
}


.info .prediction{
  border-top: 2px dashed #FF1744;
  border-bottom: 2px dashed #00C853;

  border-radius: 0;
  
  
}
.ch {
  position: relative;
}